<div class="mp-layout">

    <div class="meal-display">
        <h1><%= @meal.name %></h1>
        <p>Average Rating: <%= @meal.avg_rating %></p>
        <img class='meal-profile' src="<%= @meal.img_url %>" alt="<%= @meal.name%>"/>
        <h2><%= "Craving #{@meal.cuisine}?" %></h2>
        

      


    </div>
    <div class="ingredients-display">
        <h2> Ingredients </h2>
        <% @meal.list_ingredients.each do |i| %>
            <li><%= i %></li>
        <% end %>
    </div>



   
</div>


<h5>Add this Meal to you Calendar</h5>
<%= form_for @user_meal do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :time %>
    <%= f.time_select :time,
{ampm: true, ignore_date: true, start_hour: 4, end_hour: 22, discard_minute: true, prompt: true, prompt: { hour: "Select time" }
} %>

    <%= f.label :meal_type, "Type of Meal" %>
    <%= f.collection_select  :meal_type, ["Breakfast", "Lunch", "Dinner", "Snack"], :itself, :itself %>

    <%= f.hidden_field :meal_id, :value => @meal.id %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <%= f.submit %>
<% end %>


<h5>Recent Posts about this meal</h5>
<% @meal.comments.last(3).each do |comment| %>
 <p><%= comment.content %></p><br/>
 <p>written by: <%= comment.content_user %></p>
<% end %>
