<!DOCTYPE html>
<html>
  <head>
    <title>ForkitV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap" rel="stylesheet">
  </head>

  <body>
     <% if session[:user_id] %>
     <div class= "container">
      <nav>
      <%= link_to "Fork-ed Meals", users_path %><br/>
      <%= link_to "Available Meals", meals_path %><br/>
      <%= link_to "Profile", user_path(session[:user_id]) %><br/>
      <%= link_to "Log Out", logout_path%><br/>
      </nav>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
